.content-wrapper {
	width: inherit; 
	height: inherit;
	min-height: inherit; 
	margin-left: 20px;
	margin-right: 20px;

} 

#canvas{
	float : left;
	/* background : #fbf7ee; */
	background : pink;
	width : 50%;
	height : 711px;
	/* border-top : 1px solid black; */
	
	
}

 #item{
	float : right;
	width : 50%;
	/* border-top : 1px solid black; */
	background : yellow;  
	height :711px;

	
}

#turn{
	display : inline-block;
	/*  border: 1px solid #BCBA34;  */
	}
	
#turn li{
		padding-left: 24px;
		float : left
}

#turn li:first-child{
		padding-left : 5px;
	}
#turn li:last-child{
		padding-left : 146px;
	}	
	
#item-menu{
	display : inline-block;
	}
	
#item-menu li{
		padding-left: 24px;
		float : left
}
#item-menu li:first-child{
		padding : 0px;
	}

#item-category{
	display : inline-block;
	}
	
#item-category li{
		padding-left: 24px;
		float : left
}	
#item-category li:first-child{
		padding : 0px;
	}


/*img*/

#item-img{
	display : inline-block;
	padding-top: 7px;
 	/* border: 1px solid #BCBA34;  */ 
	}

#item-img li{
	padding-left: 29px;	
}

#item-img img{
	width : 70px;
	height : 70px;	
	float : left;
} 

#detail-img{
	width : 120px;
	height : 100px;
	
}	

#myClothes-img{
	display : inline-block;
	padding-top: 7px;
}

#myClothes-img li{
	/* padding-left: 25px;	 */
	padding-left: 29px;		
	float : left;
}

#myClothes-img img{
	width : 70px;
	height : 70px;	
	display : block;
} 

#myClothes-img input[type="checkbox"]{
	display : block;
	margin-left: auto;
	margin-right: auto;
}



