/* ------------------------------각 영역 */

.content-wrapper {
	width: inherit; 
	height: inherit;
	min-height: inherit; 
	margin-left: 15px;
	margin-right: 15px;
	

} 
#canvas{
	float : left;
	/* background : #fbf7ee; */
	/* background : pink; */ 
	width : 49%;
	height : 711px;
}

#coordi-canvas{
	 border:1px solid gray;
	height : 680px; 
}

#coordi-item{
	border:1px solid gray;
	/* border-right: 0px; */
	height : 680px; 
}

 #item{
	float : right;
	width : 49%;	
	/* background : yellow; */  
	height :711px;
}

#product{
	 height : 585px;
}


/* 코디 순서 표시 */
#turn{
	display : inline-block; 
	}
	
#turn li{
		padding-left: 24px;
		float : left
}

#turn li:first-child{
		padding-left : 5px;
	}
#turn li:last-child{
		padding-left : 146px;
	}	

/* 의류, 내 옷장, 찜 아이템	 */
#item-menu{
	display : inline-block;
	}
	
#item-menu li{
		padding-left: 24px;
		float : left
}
#item-menu li:first-child{
		padding : 0px;
	}


/* 아이템 카테고리 */
#item-category{
	display : inline-block;
	}
	
#item-category li{
		padding-left: 24px;
		float : left
}	
#item-category li:first-child{
		padding : 0px;
	}



/*------------------------------img*/
#item-img{
	display : inline-block;
	padding-top: 7px;
 	/* border: 1px solid #BCBA34;  */ 
	}

#item-img li{
	padding-left: 31px;	
}

#item-img img{
	width : 70px;
	height : 70px;	
	float : left;
} 

#detail-img{
	width : 120px;
	height : 100px;
	
}	

#myClothes-img{
	display : inline-block;
	padding-top: 7px;
}

#myClothes-img li{
	/* padding-left: 25px;	 */
	padding-left: 29px;		
	float : left;
}

#myClothes-img img{
	width : 70px;
	height : 70px;	
	display : block;
} 

#myClothes-img input[type="checkbox"]{
	display : block;
	margin-left: auto;
	margin-right: auto;
}

/* ----------------------- pager*/

	#pager{
		margin-left: 100px;
		margin-right: 100px;
	}
 	#pager li { 
 		float: left; 
 		width: 40px; 
 		height: 25px; 
		/* border: 1px solid green;  */ 
 		 text-align: center; 
 		line-height: 25px; 
 	} 
  
 	#pager { 
 		display: inline-block; /*박스크기맞추기 */ 
 	} 
  
 	#pager ul { 
 		/* border: 1px solid red;  */ 
 		overflow: auto; /* 크기맞추는거 inline-block과 쓰임 */ 
	 } 
	 
/* 	 #pager a{
	 	display : block;
		margin-left: auto;
		margin-right: auto;
	 } */
  
 	
