@CHARSET "UTF-8";
@import url(layout.css);

/* --------코디 상세페이지용 알맹이 CSS----------- */
#coordi-img{
	float:left;
	width:580px;
	border:1px solid black;
}

#coordi-contents{
	float:right;
	border:1px solid red;
	width:585px;
}

#coordi-copyright{
	float:left;
	border:1px solid blue;
	width:280px;
}

#coordi-like{
	float:right;
	border:1px solid green;
	width:280px;
}

#sns{
	float:left;
}

/* ----코디 상세페이지 댓글 리스트 표 CSS--- */
#comment-list th{
	background:grey;
	width:585px;
	text-align: center; 
}

#comment-list td{
	text-align: center; 
}

#overview li{
	float:left;
}

#coordi-item li{
	float:left;
}

#clear{
	clear:both;
}