@CHARSET "UTF-8";
#top {
	height: 20px;
	width: 100%;
	background: #171a39;
    position: fixed;
	left: 0px;
	top: 0px;
}

#aside {
	height: 1000px;
	width: 8%;
 	background: #faf3e5;
	float: left;
	position: fixed;
	top: 20px;
	right: 0px;
	border : red soild 1px;
}

#header {
	height: 120px;
	width: 92%;
 	background: #fbf7ee;
	position: fixed;
	left: 0;
	top: 20px;
	float: left;
}

/*  #main {
	width: ;
	min-height : inherit;
	margin-left: auto;
	margin-right: auto;
	background: #fbf7ee;
}   */

.content-wrapper {
	/* width: 1120px; */
	width: 1000px;
	height: inherit;
	min-height: inherit;
	margin-left: 70px;

} 
 
 #main-wapper {
	width: 92%;
	min-height: 900px;
	float: left;
	background: #fbf7ee;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.fix {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;	
	line-height: 0;
	height: 100px;
	/* background: #fbf7ee; */
} 

.Hidden {
	display: none;
}

#header img {
	display: block;
 	margin-left: auto;
	margin-right: auto;
}

#aside img{
	width: 70px;
	display : block;
	margin-left: auto;
	margin-right: auto;
	padding : 5px;
}

#footer {
	height: 50px;
	width: 100%;
 	background: #171a39;
	position: fixed;	
	bottom: 0px; 
	left: 0px;	
}


#copyright{
  color: #ffffff; padding-left : 10px;
}


