@CHARSET "UTF-8";
@IMPORT url("layout.css");

#detail-title{
font-size: 20px;
font-weight: bold;
}
#page-detail{
	margin-left: 150px;
	
}

/* ----------------목록 설정--------------- */
#detail-menulist{
margin-top:10px;
border: 1px black solid;
display: inline-block;
}
#list1 img{
margin-left:5px;
float: left;
}
#list2{
margin-left:5px;
float: left;
}
#list3{
margin-left:5px;
float: left;
}
/* ----------------목록 설정 끝--------------- */

#write-reple{
border: 1px red solid;
width: 600px;
margin-top: 10px;

}

#detail{
height: 350px;
width:600px;

border: 1px red solid;
}


/* ------------------댓글 목록 설정 시작---------------- */
#reple{
/* border-top: 1px #171a39 solid; */
border: 1px red solid;
width:500px;
margin-top: 10px;

}

#reple tr{
	height: 20px;
	line-height: 20px;
}

#reple td,
#reple th{
text-align: center;
border-bottom: 1px #e9e9e9 solid;

}

#detail dt{

text-align: left;
/* border-bottom: 1px #e9e9e9 solid; */
border: 1px gray solid;
width: 150px;
float: left;
text-align: center;
text-indent: 0px;
background: #f5f5f5;

}

#detailContent dt{

text-align: left;
background : red;
border: 1px gray solid;
width: 600px;
float: left;
text-align: center;
text-indent: 0px;
background: #f5f5f5;

}

#detail dd{
	
width: 440px;
text-align: center;
display: inline-block;
float: left;
border: 1px gray solid;
	
}

#detailContent dd{
width: 600px;
float: left;
min-height: inherit;
border : none; 

}


#reple td:FIRST-CHILD,
#reple th:FIRST-CHILD{
width: 50px;
}
#reple td:FIRST-CHILD+td{
width: 360px;
text-align:left;
text-indent:10px
}



#reple td:FIRST-CHILD+td+td,
#reple th:FIRST-CHILD+th+th{
width : 80px;
}
#reple td:FIRST-CHILD+td+td+td,
#reple th:FIRST-CHILD+th+th+th{
width : 110px;
} 
#reple th{
background: #f5f5f5 url("../images/bg-title-sp.png")no-repeat left center;
}

/* ------------------댓글 목록 설정 끝---------------- */