@CHARSET "UTF-8";

#coordi-box{
	height:370px;
	width:300px;
	background :#ffffff;
	border : #faf3e5 solid 5px;
	line-height: center;	
	float : left;
	margin-right: 17px;
	margin-top: 50px;
	display : block;
} 

 #coordi-list{
	/*  border: 1px solid red;  */
	display : inline-block;
	float: left;
	padding-left: 15px;
	
} 

/*  #coordi-list li{
	float: left;
} */
 
#coordi img{
	border-bottom: 5px solid #faf3e5;
	height:300px;
	width:280px;
 	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	
}
#profile li{	
	padding-top: 15px;
	float: left;
}

#profile img{
	height:35px;
	width:35px;	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

 #profile li:FIRST-CHILD{
	padding-top: 7px;	
} 

#else{
	float: right;
	padding-right:10px;
}

#else li{
	padding-top: 15px;
	float: left;
}

#more{
	/* margin-left:auto;
	margin-right:auto; */
	margin-top:50px;
	text-align: center;
	
}  

#more input[type="submit"]{
	margin-top:50px;
	}
	

