@CHARSET "UTF-8";

@IMPORT url("../../css/reset.css");
@IMPORT url("../../css/layout.css");

/*기본설정*/
a
{text-decoration: none;}

.clearfix:after
	{content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;}

.hidden
{display: none;}

#mid-blank:BEFORE
	{content:"."; visibility: hidden; display: block; height: 20px;/*  background: inherit;  */}


/*첫 번째 방*/
#top-blank
{height: 20px; background: #171a39; position: fixed; left: 0; top: 0px; width: 100%;}

#mid-blank
{min-height: 1000px; background: #fbf7ee;}
/* #fbf7ee */

#bot-blank
{height: 50px; background: #171a39;  position: fixed; left: 0; bottom: 0px; width: 100%;}


/*왼쪽방*/
#customer-menu-blank
{width: 20%; height:100%; min-height: inherit; float: left; background: #fbf7ee;}
/* #fbf7ee */

#logo
{height: auto; background: #f8e8c8;}
#logo img
{display: block; margin: auto; width: 200px;}
#customer-menu
{height: 500px; background: #f8e8c8; display: block;}
#customer-menu-text
{padding: 20px;}
#myinfo
{text-align: center; line-height: 27px;}
#social-count
{text-align: center; margin-bottom: 15px; margin-top: 15px; line-height: 25px;}
#cumtomer-select-menu
{text-align: center; line-height: 30px;}

#profile img
{display: block; width: 150px; height: 150px; margin-left: auto; margin-right: auto;
border-radius:100px;
}
#myinfo
{height: 60px; padding-top: 7px;}

#social-count table
{margin-left:auto; margin-right: auto;}
#social-count table td
{width: 50px; text-align: center; position: relative; display: inline-block;}
#social-count table td p
{position: absolute; top: 3px; left: 20px;}


/*중앙 방*/
#item-list
{width: 70%; height:100%; min-height: inherit; background: #fbf7ee; float: left;
padding: 20px;}
#clothes-list img
{width: 130px; height: 130px;}

/*-----아이템 리스트-----*/
	#items{
	/* border: solid red 1px; */
	/* display: inline-block; */
	padding-top: 30px;
	padding-left: 10px;
	margin-left: 15px;
	}
	
	#item-btn{
	/* border: solid red 1px; */
	/* width: 830px; */
	}
	
	#item-btn > *{
	float:left;
	/* border: solid red 1px; */
	width: 380px;
	text-align: right;
	}
	
	#btn-left{
	text-align: left;
	margin-left: 30px;
	}
	
	#items li{
	float: left;
	/* border: solid green 1px; */
	width: 160px;
	height: 160px;
	}



/*오른쪽 방*/
#main-menu
{width: 10%; height:100%; min-height: inherit; background: #faf3e5; float: left;
position: fixed; right: 0; top: 20px; /* border: solid red 3px; */}

#main-menu img
{width: 70px; display: block; margin-left: auto;margin-right: auto; padding: 5px;}

/*기타*/
#copyright
{color: #dfdfdf; margin-left: 30px;}